html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
}

.bg {
  background-image: url('../img/home-screen-1.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav.navbar {
  background-color: #5D7881;
  border-radius: 0;
}

.navbar-brand {
  padding: 10px 15px;
}

.brand-title {
  margin-top: 0;
  color: #AAAAAA;
}

.shop-name {
  font-family: 'Francois One', sans-serif;
  font-size: 70px;
  color: #AAAAAA;
}

a > .glyphicon-th-list {
  font-size: 20px;
  color: #ffffff;
}

.space {
  padding: 40px;
}

div.signup {
  padding: 20px 50px 20px 50px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
  opacity: 0.9;
}

.pad-10 {
  padding: 10px;
}

.signup-title {
  color: #5D7881;
}

.form-control.signup {
  padding: 20px 5px;
}

.form-control.signup:focus {
  outline: none;
}

.btn.signup {
  margin-top: 20px;
  padding: 10px 40px;
}

.btn.signup, .btn.signup:focus {
  color: #ffffff;
  background-color: #5D7881;
  border-style: none;
}

input[type=email], input[type=text], input[type=password], button.dropdown-toggle {
  border-style: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #F2F2F2;
}

button.dropdown-toggle, button.dropdown-toggle:hover, div.open > button.dropdown-toggle:focus {
  background-color: transparent!important;
  box-shadow: none!important;
}

.bs-searchbox > input {
  border-bottom: 1px solid #F2F2F2;
}

input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, button.dropdown-toggle:hover {
  box-shadow: none;
  border-bottom: 2px solid #5D7881;
}

.footer-style {
  padding: 1rem;
  background-color: transparent;
  color: #DADADA;
}
