html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
}

.bg {
  background-image: url('../img/home-screen-1.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav.navbar {
  background-color: #5D7881;
  border-radius: 0;
}

.navbar-brand {
  padding: 10px 15px;
}

.brand-title {
  margin-top: 0;
  color: #AAAAAA;
}

.shop-name {
  font-family: 'Francois One', sans-serif;
  font-size: 70px;
  color: #AAAAAA;
}

a > .glyphicon-th-list {
  font-size: 20px;
  color: #ffffff;
}

.space {
  padding: 40px;
}

div.signup {
  padding: 20px 50px 20px 50px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  background-color: #ffffff;
  opacity: 0.9;
}

.pad-10 {
  padding: 10px;
}

.signup-title {
  color: #5D7881;
}

.form-control.signup {
  padding: 20px 5px;
}

.form-control.signup:focus {
  outline: none;
}

.btn.signup {
  margin-top: 20px;
  padding: 10px 40px;
}

.btn.signup, .btn.signup:focus {
  color: #ffffff;
  background-color: #5D7881;
  border-style: none;
}

input[type=email], input[type=text], input[type=password], button.dropdown-toggle {
  border-style: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #F2F2F2;
}

button.dropdown-toggle, button.dropdown-toggle:hover, div.open > button.dropdown-toggle:focus {
  background-color: transparent!important;
  box-shadow: none!important;
}

.bs-searchbox > input {
  border-bottom: 1px solid #F2F2F2;
}

input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, button.dropdown-toggle:hover {
  box-shadow: none;
  border-bottom: 2px solid #5D7881;
}

.footer-style {
  padding: 2rem;
  background-color: #383838;
  color: #ffffff;
}

.about {
  background-color: #ffffff;
  margin-top: 100px;
}

@media (min-width: 768) {
  .about {
      margin-top: 0px;
  }
}


/* new layout styling */

.image-wrapper {
  position: relative;
  height: 450px;
  width: 200px;
  top: 200px;
  left: 400px;
}

.image-wrapper > img {
  height: 50%;
  vertical-align: center;
}

.section-banner {
  height: 100vh;
  background: url('../img/market_place.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #010101;
  opacity: 0.5;
}

.name-slogan > .large-screen {
  padding: 250px 0 0 0;
}

.name-slogan > .small-screen {
  padding: 50px 0 0 0;
}

.name-slogan > .slogan {
  color: #d1d0d0;
}

.name-slogan > .name, .signup-callout {
  color: #ffffff;
}

.slogan {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
}

.signup-callout {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
}

.chevron-down {
  position: relative;
  bottom: -80%;
}

.chevron-down > a > .fa-chevron-down {
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
}

.section-mission {
  background-color: #ffffff;
  padding: 50px 20px;
}

.mission-card {
  background-color: #ffffff;
  height: 280px;
  border-radius: 3px;
  border: 0.5px solid #efefef;
  margin: 10px 0;
}

.mission-img-holder {
  position: relative;
  height: 60%;
}

.mission-img-holder > img {
  height: 100%;
  width: 100%;
}

.mission-desc {
  padding: 10px;
}

.section-signup {
  background-color: #010101;
  padding: 70px 0;
}

.section-footer {
  background-color: #181818;
  color: #ffffff;
  padding: 20px;
}

.btn.signup {
  padding: 15px 60px;
  font-size: 16px;
  border-radius: 0;
}
